<% provide(:title, "ホーム") %>

<div class="center jumbotron">
  <h1>EngineerQUIZ</h1>
  <p>LINE@の料金計算ができます</p>
  <%#= link_to "アカウント作成", '#', class: "btn btn-lg btn-primary" %>
  
  <p>契約プランと今月の配信予定通数を入力してください</p>
  
  <div class="center padding_r_200 padding_l_200">
    <%= form_tag '/calculate', method: :get, class: "" do %>
      <%= label_tag 'name', 'プラン' %>
      <%= select_tag :plan, options_for_select(plan_list), class: "form-control" %>
      
      <%= label_tag 'name', '月間配信予定通数', class: "margin_t_30" %>
      <%= number_field_tag :send_count, params[:send_count], class: "form-control" %>
      <%= submit_tag '計算する', name: 'calculate', class: "btn btn-lg btn-primary margin_t_30" %>
    <% end %>
  </div>
  
  <h2><%= @monthly_amount %></h2>
</div>